body {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: bold;
}

.jumbotron {
  background-size: cover;
  background-color: transparent;
  text-align: center;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 100px;
  font-weight: bolder;
}


h2 {
  font-size: 40px;
  font-weight: bolder;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  background-color: red;
}

img {
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 50px;
}

.output {
  width: 20em;
  word-wrap: break-word;
  font-size: 30px;
  font-size: 30px;
  font-weight: bold;
}
