.jumbotron {
  background-image: : url("girl.png");
  background-size: cover;
  background-color: transparent;
  text-align: center;
}

img {
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 50px;
}

.output {
  width: 30em;
  word-wrap: break-word;
  font-size: 20px;


}
